* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.h2 {
	color: #585858;
	font-size: 40px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	margin-bottom: 40px;
	padding-bottom: 46px;
	font-family: $font-din;
	position: relative;
	text-transform: uppercase;
	background: url("../img/title-bg.png") 50% 100% no-repeat;

	@media (min-width: $screen-sm-min) {

		font-size: 40px;
		line-height: 48px;
	}
}


.form-block {

	.form-title {
		color: #5b5b5b;
		font-size: 22px;
		font-weight: 700;
		line-height: 26px;
		margin-bottom: 50px;
		text-transform: uppercase;
	}
}


.btn-close {
	top: 10px;
	right: 10px;
	color: #5abac9;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
	position: absolute;
}

.modal-box {
	width: 260px;
	background: #fff;
	padding: 30px 15px;

	.form-block {

		.form-title {
			text-align: center;
			margin-bottom: 25px;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 360px;
		padding: 30px 25px;
	}
}


.fancybox-wrap-wedding {
	width: 260px !important;

	.wedding-inner {
		position: relative;
		width: 260px !important;
		height: auto !important;
	}

	@media (min-width: $screen-sm-min) {
		width: 360px !important;

		.wedding-inner {
			width: 360px !important;
		}
	}
}


canvas {
	-webkit-transition: ease-out 1.5s;
	-moz-transition: ease-out 1.5s;
	-o-transition: ease-out 1.5s;
	transition: ease-out 1.5s;
}