.b06 {
    max-width: 100%;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;

    .form-block {
        margin-bottom: 30px;
    }

    .order {
        margin: 0 -15px;
        padding: 30px 15px;
        position: relative;
        background: #fafafa;

        .order-inner {
            z-index: 100;
            position: relative;
        }

        .order-title {
            color: #555;
            font-size: 20px;
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 40px;
            text-transform: uppercase;

            strong {
                display: block;
                color: #519f8f;
                font-size: 26px;
                font-weight: 700;
            }
        }

        .order-timer-title {
            color: #4e4e4e;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        .order-timer {

        }
    }

    .order-timer {
        margin-left: -5px;

        li {
            float: left;
            width: 77px;
            padding: 0 5px;
            text-align: center;

            &.day {
                display: none;
            }
        }

        .timer-value {
            color: #313131;
            width: 67px;
            height: 67px;
            display: block;
            font-size: 30px;
            padding: 8px 0;
            line-height: 40px;
            font-weight: 600;
            margin-bottom: 5px;
            @include border-radius(50%);
            border: 5px solid #59b9c9;
        }


        .timer-legend {
            color: #5c5c5c;
            font-size: 13px;
            font-weight: 700;
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 90px;
        padding-bottom: 90px;


        .form-block {
            margin-bottom: 0;
        }

        .order {
            margin: 0;
            height: 436px;
            padding: 40px 20px;

            &:before {
                top: 0;
                left: 0;
                bottom: 0;
                content: '';
                width: 1000px;
                z-index: 5;
                position: absolute;
                background: #fafafa;
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .order-timer {
            margin-left: -15px;

            li {
                float: left;
                width: 140px;
                padding: 0 15px;
                text-align: center;
            }

            .timer-value {
                color: #313131;
                width: 110px;
                height: 110px;
                display: block;
                font-size: 50px;
                padding: 22px 0;
                line-height: 60px;
                font-weight: 600;
                margin-bottom: 8px;
                @include border-radius(50%);
                border: 5px solid #59b9c9;
            }

            .timer-legend {
                color: #5c5c5c;
                font-size: 13px;
                font-weight: 700;
            }
        }
    }
}