.b01 {
    position: relative;
    padding-bottom: 60px;
    background: url("../img/b01_bg.jpg") 50% -240px no-repeat;

    .top {
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .logo {
        width: 82px;
        margin: 0 auto 15px auto;
    }

    .lng {
        font-size: 0;
        line-height: 0;
        margin-bottom: 5px;
        text-align: center;

        li {
            margin: 0 2px 0 2px;
            display: inline-block;

            a {
                color: #656565;
                font-size: 13px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    }

    .contact {
        text-align: center;

        .tel {
            color: #696969;
            font-size: 20px;
            line-height: 30px;
            display: block;
            text-decoration: none;
        }

        .btn-callback {
            color: #59b9c9;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-decoration: none;
            border-bottom: 1px dotted #59b9c9;
        }
    }


    h1 {
        color: #519f8f;
        font-size: 24px;
        font-weight: 900;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .text {
        color: #519f8f;
        font-size: 16px;
        text-align: center;
        margin-bottom: 50px;
    }

    .price {
        color: #606060;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 20px;

        strong {
            color: #59b9c9;
            font-size: 35px;
            font-weight: 700;
            display: block;
        }
    }

    .btn-arrow {

        &:before {
            content: '';
            width: 54px;
            height: 50px;
            right: -64px;
            bottom: -40px;
            display: none;
            position: absolute;
            background: url("../img/btn-arrow.png") 0 0 no-repeat;
        }
    }

    .btn-text {
        color: #7e7e7e;
        font-size: 18px;
        line-height: 25px;
        padding-top: 30px;
        text-align: center;
    }

    .btn-scroll {
        left: 50%;
        content: '';
        width: 30px;
        height: 48px;
        bottom: 50px;
        display: none;
        margin-left: -15px;
        position: absolute;
        background: url("../img/icon-mouse.png") 0 0 no-repeat;
    }


    @media (min-width: $screen-sm-min) {
        height: 1074px;
        background-position: 50% 0;

        .top {
            padding-bottom: 240px;
        }

        .logo {
            margin: 0;
        }

        .lng {
            margin: 0;
            text-align: right;
        }

        .contact {
            text-align: right;
        }

        h1 {
            font-size: 30px;
            line-height: 36px;
        }

        .text {
            font-size: 20px;
            margin-bottom: 100px;
        }

        .price {

            strong {
                display: inline;
            }
        }

        .btn-arrow {

            &:before {
                display: block;
            }
        }

        .btn-text {
            float: right;
            width: 280px;
            color: #7e7e7e;
            font-size: 18px;
            line-height: 25px;
            padding-top: 50px;
            text-align: left;
        }

        .btn-scroll {
            display: block;
        }
    }

    @media (min-width: $screen-md-min) {

        .btn-text {
            margin-right: 50px;
        }
    }
}