.b04 {
    padding-top: 50px;
    padding-bottom: 50px;

    .person {
        max-width: 350px;
        background: #f9f9f9;
        margin: 0 auto 20px auto;

        .person-image {

        }

        .person-name {
            padding: 10px;
            color: #a3a2a2;
            font-size: 10px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;

            strong {
                color: #313131;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 100px;
        padding-bottom: 100px;
        background: url("../img/b04_bg.jpg") 50% 100% no-repeat;
    }
}