.b02 {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 30px;

    @media (min-width: $screen-sm-min) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .service {
        padding: 3px;
        max-width: 350px;
        text-align: center;
        margin: 0 auto 50px auto;
        border: 1px solid #f6f6f6;

        .service-image {
            margin-bottom: 20px;
        }

        .service-name {
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            padding-bottom: 10px;
            margin-bottom: 10px;
            position: relative;
            text-transform: uppercase;

            &:before {
                left: 70px;
                bottom: 0;
                content: '';
                width: 105px;
                position: absolute;
                border: 1px solid #f6f6f6;
            }
        }

        .service-price {
            font-weight: 300;
            color: #969595;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 15px;

            b {
                color: #313131;
            }
        }

        .btn {
            margin-bottom: -27px;
        }
    }

    @media (min-width: $screen-sm-min) {

        background: #fff url("../img/b02_bg.jpg") 50% 100% no-repeat;
    }
}