.b05 {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("../img/b05_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    .h2 {
        color: #fff;
        margin-bottom: 50px;
    }

    .vendor {
        margin: 0 auto;
        max-width: 190px;

        li {
            padding: 10px;
            text-align: center;
        }

        img {
            @include img-responsive(inline-block);
        }
    }

    @media (min-width: $screen-sm-min) {

        height: 426px;
        padding-top: 90px;
        background-size: auto auto;

        .vendor {
            margin: 0 auto;
            max-width: inherit;

            li {
                width: 20%;
                float: left;
                text-align: center;
                margin-bottom: 15px;
            }
        }
    }
}