.b03 {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../img/b03_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    .text {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 8px;
        text-align: right;
        text-transform: uppercase;

    }

    .subtext {
        font-size: 16px;
        font-style: italic;
        text-align: right;
    }

    @media (min-width: $screen-sm-min) {
        height: 217px;
        padding-top: 80px;
        background-size: auto auto;

        .text {
            font-size: 24px;
            line-height: 30px;
        }

        .subtext {

        }

    }

    @media (min-width: $screen-md-min) {

        .text {
            font-size: 34px;
            line-height: 40px;
        }

        .subtext {

        }

    }
}