@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.eot');
    src: url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light_gdi.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium_gdi.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}

@font-face {
    font-family:'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.eot');
    src: url('../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.ttf') format('truetype'),
    url('../fonts/HelveticaNeueCyr-Black/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}


@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.eot');
    src: url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.otf') format('opentype'),
    url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}


@font-face {
    font-family:'PFDinDisplayPro';
    src: url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.eot');
    src: url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.woff') format('woff'),
    url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.ttf') format('truetype'),
    url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.otf') format('opentype'),
    url('../fonts/PFDinDisplayPro-Regular/PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}