.footer {
    padding: 15px 0;
    background: #f7f7f7;

    .logo {
        width: 82px;
        padding: 10px 0;
        margin: 0 auto;
    }

    .center {
        color: #7a7a7a;
        padding: 10px 0;
        font-size: 25px;
        font-weight: 300;
        line-height: 33px;
        text-align: center;

        span {
            color: #7a7a7a;
            display: block;
            font-size: 31px;
            font-weight: 700;
        }
    }

    .contact {
        padding: 10px 0;
        font-size: 18px;
        text-align: center;

        li {
            margin-bottom: 10px;

            a {
                color: #636363;
            }

            i {
                color: #59b9c9;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding: 0;

        .logo {
            margin: 0;
            height: 154px;
            padding-top: 45px;
        }

        .center {
            height: 154px;
            padding-top: 40px;
            background: #ebebeb;
            position: relative;

            &:before {
                top: 0;
                left: -60px;
                content: '';
                width: 60px;
                height: 156px;
                position: absolute;
                background: url("../img/footer-left.png") 0 0 no-repeat;
            }

            &:after {
                top: 0;
                right: -60px;
                content: '';
                width: 60px;
                height: 156px;
                position: absolute;
                background: url("../img/footer-right.png") 0 0 no-repeat;
            }
        }

        .contact {
            height: 154px;
            padding-top: 45px;
            text-align: right;
        }
    }
}