.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 10px 33px;
	background: #5abac9;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border-bottom: 4px solid #429cab;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #55d4e9;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-md {
	font-size: 16px;
	font-weight: 600;
	padding: 17px 33px;
	text-transform: uppercase;
}
