.form-control {
	margin: 0;
	width: 100%;
	color: #dadada;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 14px 20px;
	display: inline-block;
	background: #f7f7f7;
	border: 1px solid #eee;
	@include placeholder(#dadada);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}


select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	select::-ms-expand {
		display: none;
	}

	&.form-control {
		background: #f7f7f7 url("../img/select-arrow.png") 100% 50% no-repeat;
	}

	option {
		background: #f7f7f7;
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	display: block;
	color: #5b5b5b;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 10px;
}

.form-group {
	margin-bottom: 20px;
}